@use "variables.scss";

//ici sont les propriétés pour toute la page sans exceptions
//propriétés de fichier, texte basique (font, couleur), style des liens

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html {
    font-size: 62.5%;
}
body {
    font-family: variables.$normfont;
    background-color: variables.$darkblue;
    color: variables.$textwhite;
    @media screen and (max-width: 849px) {
        font-size: variables.$mobsize;
    }
    @media screen and (min-width: 850px) {
        font-size: variables.$websize;
        font-weight: variables.$webweight;
    }
    a{
        text-decoration: none;
        color: inherit;
        font-family: inherit;
    }
    h1{
        font-family: variables.$titlefont;
        text-transform: uppercase;
        @media screen and (max-width: 849px) {
            font-size: variables.$mobtitlesize;
            font-weight: variables.$mobtitleweight;
        }
        @media screen and (min-width: 850px) {
            font-size: variables.$webtitlesize;
            font-weight: variables.$webtitleweight;
        }
    }
    h3{
        font-family: variables.$titlefont;
        @media screen and (max-width: 849px) {
            font-size: variables.$mobsubsize;
            font-weight: variables.$mobsubweight;
        }
        @media screen and (min-width: 850px) {
            font-size: variables.$websubsize;
            font-weight: variables.$websubweight;
        }
    }
    ul{
        list-style-type: none;
    }
}