@use "variables.scss";

header{
    @media screen and (max-width: 849px) {
        nav{
            display: none;
        }
        .burgerToggle {
            background: none;
            border: none;
            padding: 2rem;
            cursor: pointer;
            .barTop, .barMid {
                background-color: variables.$textwhite;
                height: 0.5rem;
                width: 3.5rem;
                margin: 0.5rem auto;
                border-radius: 5rem;
            }
            .barBot{
                background-color: variables.$textwhite;
                height: 0.5rem;
                width: 2rem;
                margin-left: 40%;
                border-radius: 5rem;
            }
        }
        .burgerMenu.open {
            width: fit-content;
            background-color: variables.$textwhite;
            .burgerToggle{
                position: relative;
                left: 10rem;
                .barTop{
                    height: 0.8rem;
                    background-color: variables.$darkblue;
                    transform: rotate(-45deg);
                    transition-duration: 0.4s;
                    translate: 0 0.65rem;
                }
                .barMid{
                    height: 0.8rem;
                    background-color: variables.$darkblue;
                    transform: rotate(45deg);
                    transition-duration: 0.4s;
                    translate: 0 -0.65rem;
                }
                .barBot{
                    display: none;
                }
            }
            nav{
                display: block;
                text-align: center;
                li{
                    padding: 1rem;
                    border: 0.2rem solid variables.$darkblue;
                }
            }
        }
        .burgerMenu{
            z-index: 15;
            width: fit-content;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    @media screen and (min-width: 850px) {
        .burgerToggle{
            display: none;
        }
    }
}