@use "variables.scss";

footer{
    @media screen and (max-width: 700px) {
        font-size: variables.$mobsize;
        .logoAmple{
            height: 10rem;
        }
        span{
            height: 0.3rem;
            width: 100%;
            background-color: variables.$textwhite;
            border-radius: 100px;
            margin-bottom: 1rem;
        }
    }
    @media screen and (min-width: 700px){
        font-size: variables.$websize;
        .logoAmple{
            height: 15rem;
        }
    }
    //--mask:
    //    radial-gradient(13.38rem at 50% 18.90rem,#000 99%,#0000 101%) calc(50% - 18rem) 0/36rem 100%,
    //    radial-gradient(13.38rem at 50% -9.9rem,#0000 99%,#000 101%) 50% 9rem/36rem 100% repeat-x;
    //-webkit-mask: var(--mask);
    //        mask: var(--mask);
    display: grid;
    justify-items: center;
    address{
        display: grid;
        font-style: normal;
        ul{
            display: flex;
            justify-content: center;
            li{
                margin: 0.5rem;
                .icons{
                    height: 5rem;
                    color: variables.$textwhite;
                }
            }
        }
        margin-bottom: 2rem;
    }
    section{
        ul{
            display: flex;
            @media screen and (max-width: 700px) {
                img{
                    height: 7rem;
                    padding: 1rem;
                }
            }
        }
    }
}
.footerSpecialColor{
    background-color: variables.$darkblue;
}