@use "variables.scss";

footer{
    overflow: hidden;
    position: relative;
    // .wave{
    //     position: absolute;
    //     bottom: 20rem;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     --mask:
    //         radial-gradient(55.90rem at 50% calc(100% - 75.00rem),#000 99%,#0000 101%) calc(50% - 50rem) 0/100rem 100%,
    //         radial-gradient(55.90rem at 50% calc(100% + 50.00rem),#0000 99%,#000 101%) 50% calc(100% - 25rem)/100rem 100% repeat-x;
    //     --webkit-mask: var(--mask);
    //         mask: var(--mask);
    //     //pour l'effet ondulé. pour modiifier, utiliser
    //     //https://css-generators.com/wavy-shapes/
    //     z-index: 5;
    // }
    padding: 10rem 4rem 4rem;
    address{
        font-style: normal;
    }
    .logos{
        ul{
            display: flex;
        }
    }
    @media screen and (max-width: 849px) {
        font-size: variables.$mobsize;
        display: grid;
        justify-items: center;
        .contact{
            display: inherit;
            justify-items: center;
            .logoAmple{
                height: 10rem;
            }
            .mobBar{
                height: 0.3rem;
                width: 100%;
                background-color: variables.$textwhite;
                border-radius: 5rem;
                margin-bottom: 1rem;
            }
            address{
                display: grid;
                ul{
                    display: flex;
                    justify-content: center;
                    li{
                        margin: 0.5rem;
                        .icons{
                            height: 5rem;
                        }
                    }
                }
                margin-bottom: 2rem;
            }
        }
        .logos{
            img{
                height: 7rem;
                margin: 1rem;
            }
        }
    }
    @media screen and (max-width: 399px){
        .logos{
            img{
                height: 4.5rem;
            }
        }
    }
    @media screen and (min-width: 850px){
        font-size: variables.$websize;
        font-weight: variables.$webweight;
        .contact{
            display: grid;
            width: 90%;
            margin: auto;
            justify-content: space-between;
            grid-template-columns: 1fr 1fr;
            .logoAmple{
                height: 25rem;
            }
            address{
                text-align: end;
                align-self: end;
                padding-bottom: 3rem;
                ul{
                    display: flex;
                    justify-content: flex-end;
                    li{
                        margin: 0.5rem;
                        .icons{
                            height: 10rem;
                        }
                    }
                }
            }
            .webBar{
                grid-column-start: span 2;
                height: 0.5rem;
                width: 100%;
                background-color: variables.$textwhite;
                border-radius: 5rem;
                margin-bottom: 1rem;
            }
        }
        .logos{
            ul{
                justify-content: center;
            }
            img{
                height: 12rem;
                margin: 2rem;
            }
        }
    }
}