@use "variables.scss";

header{
    color: variables.$darkblue;
    nav{
        background-color: variables.$textwhite;
        li{
            border: 0.2rem solid variables.$darkblue;
        }
        .active{
            text-decoration: underline variables.$oranj 0.2rem;
        }
    }
    @media screen and (max-width: 700px) {
        font-size: variables.$mobsize;
        img{
            height: 15rem;
            margin: auto;
            display: block;
        }
    }
    @media screen and (min-width: 700px) {
        font-size: variables.$websize;
        display: flex;
        img{
            height: 10rem;
        }
        nav{
            ul{
                text-align: center;
                display: flex;
            }
        }
    }
}