* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
  
html {
    font-size: 62.5%;
}
  
body {
    min-height: 100vh;
    text-align: center;
    font-size: 2rem;
    background: #c2a7e7;
    color: white;
}