@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat";
  background: #d0c4e8;
  color: #f2f2f2;
}
body a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Fredoka";
}
body ul {
  list-style-type: none;
}

header {
  color: #151730;
}
@media screen and (max-width: 500px) {
  header img {
    height: 15rem;
    margin: auto;
    display: block;
  }
}
@media screen and (min-width: 500px) {
  header {
    display: flex;
  }
  header img {
    height: 10rem;
  }
}

footer {
  display: grid;
  justify-items: center;
}
@media screen and (max-width: 500px) {
  footer {
    font-size: 1.5rem;
  }
  footer .logoAmple {
    height: 10rem;
  }
  footer span {
    height: 0.3rem;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 100px;
    margin-bottom: 1rem;
  }
}
footer address {
  display: grid;
  font-style: normal;
  margin-bottom: 2rem;
}
footer address ul {
  display: flex;
  justify-content: center;
}
footer address ul li {
  margin: 0.5rem;
}
footer address ul li .icons {
  height: 5rem;
  color: #f2f2f2;
}
footer section ul {
  display: flex;
}
@media screen and (max-width: 500px) {
  footer section ul img {
    height: 7rem;
    padding: 1rem;
  }
}

main {
  text-align: center;
}
main h1, main h3 {
  text-transform: uppercase;
}
main h1 {
  text-decoration: underline #ef4f0b 0.6rem;
}
@media screen and (max-width: 500px) {
  main {
    font-size: 1.5rem;
  }
  main h1 {
    font-size: 3.5rem;
    font-weight: 700;
  }
  main h3 {
    font-size: 2.5rem;
    font-weight: 500;
  }
}
main .about {
  padding: 6rem 5rem;
  background-color: #151730;
}
main .about p {
  padding-top: 2rem;
}
main .about .button {
  padding-top: 3rem;
}
main .about .button a {
  background-color: #ef4f0b;
  padding: 1rem 6rem;
  border-radius: 50px;
}
main .modelsBlurb {
  padding: 6rem 0.5rem;
  color: #151730;
}
main .modelsBlurb ul {
  display: grid;
  justify-content: center;
  gap: 1rem;
}
@media screen and (max-width: 500px) {
  main .modelsBlurb ul {
    grid-template-columns: 45% 45%;
  }
  main .modelsBlurb ul li {
    position: relative;
  }
  main .modelsBlurb ul li .background {
    background-color: #f2f2f2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    z-index: -5;
  }
  main .modelsBlurb ul li img {
    display: block;
    height: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  main .modelsBlurb ul li h3 {
    margin-top: 30rem;
  }
}

footer {
  background-color: #151730;
}

@media screen and (max-width: 500px) {
  header .burger-menu {
    position: fixed;
    top: 0;
    left: 600rem;
    width: 25rem;
    height: 100%;
    background-color: #f2f2f2;
    transition: left 0.3s ease-in-out;
  }
  header .burgerMenu.open {
    left: 0;
  }
  header .burgerToggle {
    background: none;
    border: none;
    padding: 20px;
    cursor: pointer;
  }
  header .burgerToggle .bar {
    background-color: #f2f2f2;
    height: 3px;
    width: 25px;
    margin: 5px auto;
    transition: transform 0.3s ease-in-out;
  }
  header .ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 100px;
  }
  header .ul li {
    margin-bottom: 20px;
  }
  header .ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: block;
    transition: color 0.3s ease-in-out;
  }
}
@media screen and (min-width: 500px) {
  header .burgerToggle {
    display: none;
  }
  header nav ul {
    display: flex;
  }
}

/*# sourceMappingURL=index.css.map */
