@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat";
  background-color: #151730;
  color: #f2f2f2;
}
@media screen and (max-width: 849px) {
  body {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 850px) {
  body {
    font-size: 3rem;
    font-weight: 500;
  }
}
body a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
body h1 {
  font-family: "Fredoka";
  text-transform: uppercase;
}
@media screen and (max-width: 849px) {
  body h1 {
    font-size: 3.5rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 850px) {
  body h1 {
    font-size: 8rem;
    font-weight: 700;
  }
}
body h3 {
  font-family: "Fredoka";
}
@media screen and (max-width: 849px) {
  body h3 {
    font-size: 2.5rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 850px) {
  body h3 {
    font-size: 7rem;
    font-weight: 500;
  }
}
body .hash {
  color: #ef4f0b;
}
@media screen and (max-width: 849px) {
  body .hash {
    font-size: 4.5rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 850px) {
  body .hash {
    font-size: 12rem;
    font-weight: 600;
  }
}
body ul {
  list-style-type: none;
}

header {
  color: #151730;
  background-color: #d0c4e8;
}
@media screen and (max-width: 849px) {
  header {
    font-size: 1.5rem;
    padding: 3rem 0;
  }
  header nav .active {
    text-decoration: underline #ef4f0b 0.2rem;
  }
  header img {
    height: 15rem;
    margin: auto;
    display: block;
  }
}
@media screen and (min-width: 850px) {
  header {
    font-family: "Fredoka";
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
  }
  header img {
    height: 20rem;
  }
  header .burgerMenu {
    align-self: flex-end;
    padding-bottom: 3rem;
    padding-right: 3rem;
  }
  header nav ul {
    text-align: center;
    display: flex;
  }
  header nav ul li {
    padding-right: 4rem;
  }
  header nav ul li a:hover {
    color: #ef4f0b;
  }
  header nav .active {
    text-decoration: underline #ef4f0b 0.6rem;
  }
}

.homepage {
  text-align: center;
}
.homepage h3 {
  text-transform: uppercase;
}
.homepage h1 {
  text-decoration: underline #ef4f0b 0.6rem;
}
@media screen and (min-width: 850px) and (max-width: 1099px) {
  .homepage h3 {
    font-size: 5rem;
    font-weight: 500;
  }
}
.homepage .about {
  padding: 6rem 5rem;
}
.homepage .about p {
  padding-top: 2rem;
}
.homepage .about .button {
  padding-top: 3rem;
}
.homepage .about .button a {
  background-color: #ef4f0b;
  padding: 1rem 6rem;
  border-radius: 50px;
}
.homepage .modelsBlurb {
  padding: 6rem 0.5rem;
  color: #151730;
  background-color: #d0c4e8;
}
.homepage .modelsBlurb ul {
  display: grid;
  justify-content: center;
  gap: 1rem;
}
.homepage .modelsBlurb ul li {
  position: relative;
}
.homepage .modelsBlurb ul li .background {
  background-color: #f2f2f2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.homepage .modelsBlurb ul li img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
@media screen and (max-width: 399px) {
  .homepage .modelsBlurb ul {
    grid-template-columns: 40% 40%;
  }
  .homepage .modelsBlurb ul li {
    position: relative;
  }
  .homepage .modelsBlurb ul li .background {
    width: 14rem;
    height: 14rem;
  }
  .homepage .modelsBlurb ul li img {
    height: 25rem;
  }
  .homepage .modelsBlurb ul li h3 {
    margin-top: 25rem;
  }
}
@media screen and (min-width: 400px) and (max-width: 849px) {
  .homepage .modelsBlurb ul {
    grid-template-columns: 45% 45%;
  }
  .homepage .modelsBlurb ul li {
    position: relative;
  }
  .homepage .modelsBlurb ul li .background {
    width: 18rem;
    height: 18rem;
  }
  .homepage .modelsBlurb ul li img {
    height: 30rem;
  }
  .homepage .modelsBlurb ul li h3 {
    margin-top: 30rem;
  }
}
@media screen and (min-width: 850px) and (max-width: 1099px) {
  .homepage .modelsBlurb ul {
    grid-template-columns: 31% 31% 31%;
  }
  .homepage .modelsBlurb ul li {
    position: relative;
  }
  .homepage .modelsBlurb ul li .background {
    width: 20rem;
    height: 20rem;
  }
  .homepage .modelsBlurb ul li img {
    height: 36rem;
  }
  .homepage .modelsBlurb ul li h3 {
    margin-top: 40rem;
  }
}
@media screen and (min-width: 1100px) {
  .homepage .modelsBlurb ul {
    grid-template-columns: 33% 33% 33%;
  }
  .homepage .modelsBlurb ul li {
    position: relative;
  }
  .homepage .modelsBlurb ul li .background {
    width: 25rem;
    height: 25rem;
  }
  .homepage .modelsBlurb ul li img {
    height: 45rem;
  }
  .homepage .modelsBlurb ul li h3 {
    margin-top: 50rem;
  }
}

.infos h4 {
  text-transform: uppercase;
  font-weight: normal;
}
.infos .title {
  text-align: center;
}
.infos .title a {
  font-weight: bold;
}
.infos .title .rainbow {
  position: absolute;
  left: 0;
  z-index: -1;
}
.infos .instaPost1 article, .infos .instaPost2 article {
  background-color: #f2f2f2;
  color: #151730;
  border-radius: 5rem;
}
@media screen and (max-width: 849px) {
  .infos {
    padding: 5rem 5rem 10rem;
    position: relative;
    overflow: hidden;
  }
  .infos .title h1 {
    text-decoration: underline #ef4f0b 0.5rem;
    margin-top: 35rem;
  }
  .infos .title p {
    margin: 5rem 5% 2rem;
  }
  .infos .title .rainbow {
    width: 85rem;
    top: -20rem;
  }
  .infos .title .star {
    height: 15rem;
  }
  .infos .instaPost1 article, .infos .instaPost2 article {
    padding: 3rem;
    height: 20rem;
    width: 20rem;
    margin: 5rem auto;
  }
  .infos .instaPost2 .hash, .infos .instaPost2 h4 {
    text-align: end;
  }
}
@media screen and (min-width: 850px) {
  .infos {
    padding: 5rem 10rem 10rem;
  }
  .infos .title h1 {
    text-decoration: underline #ef4f0b 0.8rem;
    margin-top: 60%;
  }
  .infos .title p {
    margin: 10rem 10%;
  }
  .infos .title .rainbow {
    width: 100%;
    top: 0;
    max-height: 150rem;
  }
  .infos .title .star {
    height: 25rem;
  }
  .infos .instaPost1, .infos .instaPost2 {
    padding: 5rem;
    height: 30rem;
    width: 30rem;
    margin: 10rem auto;
  }
}

.models {
  text-align: center;
}
@media screen and (max-width: 849px) {
  .models h1 {
    padding-top: 7rem;
    text-decoration: underline #ef4f0b 0.5rem;
  }
  .models ul {
    padding: 8rem 0;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
  }
  .models ul li {
    padding: 2rem;
  }
  .models ul li img {
    height: 20rem;
    border: solid #ef4f0b 0.3rem;
    border-radius: 50%;
  }
}
@media screen and (min-width: 850px) {
  .models h1 {
    padding-top: 10rem;
    text-decoration: underline #ef4f0b 0.8rem;
  }
  .models ul {
    padding-top: 10rem;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
  }
  .models ul li {
    padding: 5rem;
  }
  .models ul li img {
    height: 50rem;
    border: solid #ef4f0b 0.3rem;
    border-radius: 50%;
  }
}

.modelSolo {
  overflow: hidden;
  text-align: center;
}
.modelSolo img {
  height: 20rem;
}
.modelSolo .title h3 {
  text-transform: uppercase;
  text-align: start;
  background-color: #ef4f0b;
  width: fit-content;
  border-radius: 5rem;
}
.modelSolo .pics {
  position: relative;
}
.modelSolo .pics img {
  position: absolute;
}
.modelSolo .vids {
  background-color: #d0c4e8;
}
.modelSolo .vids ul {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: center;
}
.modelSolo .vids ul li {
  background-color: #f2f2f2;
}
@media screen and (max-width: 849px) {
  .modelSolo h1 {
    text-decoration: underline #ef4f0b 0.6rem;
  }
  .modelSolo .title h1 {
    margin: 4rem 0 3rem;
  }
  .modelSolo .title h3 {
    margin: -1rem 2rem 0;
    font-weight: 700;
    padding: 0.2rem 2rem;
    position: relative;
  }
  .modelSolo .title .cropContainer {
    overflow: hidden;
    height: 20rem;
  }
  .modelSolo .title .cropContainer img {
    height: 200rem;
    margin-top: -90rem;
    margin-left: -30rem;
  }
  .modelSolo .pics {
    height: 150rem;
  }
  .modelSolo .pics .img1 {
    top: 3rem;
    left: 1rem;
    height: 30rem;
  }
  .modelSolo .pics .img2 {
    top: 20rem;
    right: 3rem;
    height: 20rem;
  }
  .modelSolo .pics .img3 {
    top: 35rem;
    left: 7rem;
  }
  .modelSolo .pics .img4 {
    top: 45rem;
    right: 2rem;
    height: 25rem;
  }
  .modelSolo .pics .img5 {
    top: 60rem;
    left: 1.5rem;
    height: 26rem;
  }
  .modelSolo .pics .img6 {
    bottom: 56rem;
    right: 2rem;
  }
  .modelSolo .pics .img7 {
    bottom: 35rem;
    left: 2rem;
    height: 25rem;
  }
  .modelSolo .pics .img8 {
    bottom: 15rem;
    right: 4rem;
  }
  .modelSolo .pics .img9 {
    bottom: 2rem;
    left: 2rem;
  }
  .modelSolo .vids {
    padding: 4rem 0;
  }
  .modelSolo .vids .modelQuote {
    position: relative;
    height: 50rem;
  }
  .modelSolo .vids .modelQuote .modelDrawing {
    position: absolute;
    height: 40rem;
    bottom: 5rem;
    left: 7rem;
  }
  .modelSolo .vids .modelQuote p {
    color: #151730;
    position: absolute;
    top: 15rem;
    left: 18rem;
    width: 20rem;
  }
  .modelSolo .vids li {
    border: solid red 0.2rem;
    width: fit-content;
  }
  .modelSolo .vids li iframe, .modelSolo .vids li video {
    height: 35rem;
    width: 20rem;
  }
}
@media screen and (max-width: 849px) {
  header nav {
    display: none;
  }
  header .burgerToggle {
    background: none;
    border: none;
    padding: 2rem;
    cursor: pointer;
  }
  header .burgerToggle .barTop, header .burgerToggle .barMid {
    background-color: #f2f2f2;
    height: 0.5rem;
    width: 3.5rem;
    margin: 0.5rem auto;
    border-radius: 5rem;
  }
  header .burgerToggle .barBot {
    background-color: #f2f2f2;
    height: 0.5rem;
    width: 2rem;
    margin-left: 40%;
    border-radius: 5rem;
  }
  header .burgerMenu.open {
    width: fit-content;
    background-color: #f2f2f2;
  }
  header .burgerMenu.open .burgerToggle {
    position: relative;
    left: 10rem;
  }
  header .burgerMenu.open .burgerToggle .barTop {
    height: 0.8rem;
    background-color: #151730;
    transform: rotate(-45deg);
    transition-duration: 0.4s;
    translate: 0 0.65rem;
  }
  header .burgerMenu.open .burgerToggle .barMid {
    height: 0.8rem;
    background-color: #151730;
    transform: rotate(45deg);
    transition-duration: 0.4s;
    translate: 0 -0.65rem;
  }
  header .burgerMenu.open .burgerToggle .barBot {
    display: none;
  }
  header .burgerMenu.open nav {
    display: block;
    text-align: center;
  }
  header .burgerMenu.open nav li {
    padding: 1rem;
    border: 0.2rem solid #151730;
  }
  header .burgerMenu {
    z-index: 15;
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media screen and (min-width: 850px) {
  header .burgerToggle {
    display: none;
  }
}

.project {
  text-align: center;
}
.project h3 {
  text-transform: uppercase;
  text-align: center;
}
.project button {
  background: none;
  border: none;
}
.project button img {
  transform: rotate(90deg);
  transition-duration: 0.6s;
}
.project .hash {
  text-align: end;
}
@media screen and (max-width: 399px) {
  .project button img {
    height: 6rem;
  }
  .project .title img {
    height: 26rem;
    margin: auto;
  }
  .project .title h1 {
    text-decoration: underline #ef4f0b 0.4rem;
  }
  .project .blurb1 .projectPic {
    height: 25rem;
  }
  .project .blurb3 .teamPic1, .project .blurb3 .teamPic2 {
    height: 25rem;
  }
  .project .blurb4 .thanksPic1, .project .blurb4 .thanksPic2, .project .blurb4 .thanksPic3 {
    height: 25rem;
  }
  .project .blurb5 .backPic1, .project .blurb5 .backPic2, .project .blurb5 .backPic3, .project .blurb5 .backPic4, .project .blurb5 .backPic5, .project .blurb5 .backPic6 {
    height: 25rem;
  }
}
@media screen and (min-width: 400px) and (max-width: 849px) {
  .project button img {
    height: 8rem;
  }
  .project .title img {
    height: 50rem;
    margin: auto;
  }
  .project .title h1 {
    text-decoration: underline #ef4f0b 0.5rem;
  }
  .project .blurb1 .projectPic {
    height: 35rem;
    border-radius: 2rem;
  }
  .project .blurb3 .teamPic1, .project .blurb3 .teamPic2 {
    height: 35rem;
  }
  .project .blurb4 .thanksPic1, .project .blurb4 .thanksPic2, .project .blurb4 .thanksPic3 {
    height: 35rem;
  }
  .project .blurb5 .backPic1, .project .blurb5 .backPic2, .project .blurb5 .backPic3, .project .blurb5 .backPic4, .project .blurb5 .backPic5, .project .blurb5 .backPic6 {
    height: 35rem;
  }
}
@media screen and (min-width: 850px) {
  .project .title h1 {
    text-decoration: underline #ef4f0b 0.8rem;
  }
  .project .title img {
    height: 70rem;
  }
  .project button img {
    height: 10rem;
  }
  .project .blurb1 .projectPic {
    height: 50rem;
  }
  .project .blurb1 .fullText {
    text-align: left;
  }
  .project .blurb3 .teamPic1, .project .blurb3 .teamPic2 {
    height: 50rem;
  }
  .project .blurb4 .thanksPic1, .project .blurb4 .thanksPic2, .project .blurb4 .thanksPic3 {
    height: 50rem;
  }
  .project .blurb5 .backPic1, .project .blurb5 .backPic2, .project .blurb5 .backPic3, .project .blurb5 .backPic4, .project .blurb5 .backPic5, .project .blurb5 .backPic6 {
    height: 50rem;
  }
}

.blurb1 .projectPic {
  display: none;
}
.blurb1 .fullText {
  display: none;
}

.blurb1.open .projectPic {
  display: block;
}
.blurb1.open .fullText {
  display: block;
}
.blurb1.open .shortText {
  display: none;
}
.blurb1.open button img {
  transform: rotate(-90deg);
  transition-duration: 0.6s;
}

.blurb2 .fullText {
  display: none;
}

.blurb2.open .fullText {
  display: block;
}
.blurb2.open .shortText {
  display: none;
}
.blurb2.open button img {
  transform: rotate(-90deg);
  transition-duration: 0.6s;
}

.blurb3 .teamPic1, .blurb3 .teamPic2 {
  display: none;
}
.blurb3 .fullText {
  display: none;
}

.blurb3.open .teamPic1, .blurb3.open .teamPic2 {
  display: block;
}
.blurb3.open .fullText {
  display: block;
}
.blurb3.open .shortText {
  display: none;
}
.blurb3.open button img {
  transform: rotate(-90deg);
  transition-duration: 0.6s;
}

.blurb4 .thanksPic1, .blurb4 .thanksPic2, .blurb4 .thanksPic3 {
  display: none;
}
.blurb4 .fullText {
  display: none;
}

.blurb4.open .thanksPic1, .blurb4.open .thanksPic2, .blurb4.open .thanksPic3 {
  display: block;
}
.blurb4.open .fullText {
  display: block;
}
.blurb4.open .shortText {
  display: none;
}
.blurb4.open button img {
  transform: rotate(-90deg);
  transition-duration: 0.6s;
}

.blurb5 .backPic1, .blurb5 .backPic2, .blurb5 .backPic3, .blurb5 .backPic4, .blurb5 .backPic5, .blurb5 .backPic6 {
  display: none;
}
.blurb5 .fullText {
  display: none;
}

.blurb5.open .backPic1, .blurb5.open .backPic2, .blurb5.open .backPic3, .blurb5.open .backPic4, .blurb5.open .backPic5, .blurb5.open .backPic6 {
  display: block;
}
.blurb5.open .fullText {
  display: block;
}
.blurb5.open .shortText {
  display: none;
}
.blurb5.open button img {
  transform: rotate(-90deg);
  transition-duration: 0.6s;
}

footer {
  overflow: hidden;
  position: relative;
  padding: 10rem 4rem 4rem;
}
footer address {
  font-style: normal;
}
footer .logos ul {
  display: flex;
}
@media screen and (max-width: 849px) {
  footer {
    font-size: 1.5rem;
    display: grid;
    justify-items: center;
  }
  footer .contact {
    display: inherit;
    justify-items: center;
  }
  footer .contact .logoAmple {
    height: 10rem;
  }
  footer .contact .mobBar {
    height: 0.3rem;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 5rem;
    margin-bottom: 1rem;
  }
  footer .contact address {
    display: grid;
    margin-bottom: 2rem;
  }
  footer .contact address ul {
    display: flex;
    justify-content: center;
  }
  footer .contact address ul li {
    margin: 0.5rem;
  }
  footer .contact address ul li .icons {
    height: 5rem;
  }
  footer .logos img {
    height: 7rem;
    margin: 1rem;
  }
}
@media screen and (max-width: 399px) {
  footer .logos img {
    height: 4.5rem;
  }
}
@media screen and (min-width: 850px) {
  footer {
    font-size: 3rem;
    font-weight: 500;
  }
  footer .contact {
    display: grid;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
  }
  footer .contact .logoAmple {
    height: 25rem;
  }
  footer .contact address {
    text-align: end;
    align-self: end;
    padding-bottom: 3rem;
  }
  footer .contact address ul {
    display: flex;
    justify-content: flex-end;
  }
  footer .contact address ul li {
    margin: 0.5rem;
  }
  footer .contact address ul li .icons {
    height: 10rem;
  }
  footer .contact .webBar {
    grid-column-start: span 2;
    height: 0.5rem;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 5rem;
    margin-bottom: 1rem;
  }
  footer .logos ul {
    justify-content: center;
  }
  footer .logos img {
    height: 12rem;
    margin: 2rem;
  }
}

.waveContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding-top: 100px;
  background: #3c31dd;
}
.waveContainer .wave {
  position: absolute;
  height: 250px;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.waveContainer .wave::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(85%, 60%);
  background-color: hsl(216, 21%, 16%);
}
.waveContainer .wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #3c31dd;
  transform: translate(-4%, 40%);
  z-index: -1;
}

/*# sourceMappingURL=index.css.map */
