@use "variables.scss";

.modelSolo{
    text-align: center;
    h3{
        text-transform: uppercase;
    }
    .vids{
        background-color: variables.$lavender;
        ul{
            display: grid;
            grid-template-columns: 45% 45%;
            justify-content: center;
            li{
                video{
                    height: 40rem;
                    background-color: variables.$textwhite;
                }
            }
        }
    }
    @media screen and (max-width: 849px){
        
    }
    @media screen and (min-width: 850px) {
        
    }
}