@use "variables.scss";

.modelSolo{
    overflow: hidden;
    text-align: center;
    .title{
        h3{
            text-transform: uppercase;
            text-align: start;
            background-color: variables.$oranj;
            width: fit-content;
            border-radius: 5rem;
        }
    }
    .pics{
        position: relative;
        img{
            position: absolute;
        }
    }
    .vids{
        background-color: variables.$lavender;
        i{
            color: variables.$darkblue;
        }
        ul{
            display: grid;
            justify-content: center;
            li{
                background-color: variables.$textwhite;
                border: solid variables.$darkblue 0.1rem;
            }
        }
    }
    @media screen and (max-width: 849px){
        h1{
            text-decoration: underline variables.$oranj 0.6rem;
        }
        .title{
            h1{
                margin: 4rem 0 3rem;
            }
            h3{
                margin: -1rem 2rem 0;
                font-weight: variables.$mobtitleweight;
                padding: 0.2rem 2rem;
                position: relative;
            }
            .cropContainer{
                overflow: hidden;
                height: 20rem;
                img{
                    height: 200rem;
                    margin-top: -90rem;
                    margin-left: -30rem;
                }
            }
        }
        .pics{
            height: 140rem;
            .img1{
                top: 3rem;
                left: 1rem;
                height: 24rem;
            }
            .img2{
                top: 18rem;
                right: 2rem;
                height: 21rem;
            }
            .img3{
                top: 32rem;
                left: 3rem;
                height: 20rem;
            }
            .img4{
                top: 45rem;
                right: 1rem;
                height: 24rem;
            }
            .img5{
                top: 60rem;
                left: 1rem;
                height: 23rem;
            }
            .img6{
                bottom: 48rem;
                right: 1.5rem;
                height: 20rem;
            }
            .img7{
                bottom: 28rem;
                left: 1rem;
                height: 25rem;
            }
            .img8{
                bottom: 20rem;
                right: 1rem;
                height: 21rem;
            }
            .img9{
                bottom: 5rem;
                left: 3rem;
                height: 19rem;
            }
        }
        .vids{
            padding: 4rem 0;
            .modelQuote{
                position: relative;
                height: 40rem;
                .modelDrawing{
                    position: absolute;
                    height: 40rem;
                    bottom: 0;
                    left: 2rem;
                }
                i{
                    width: 16rem;
                    color: variables.$darkblue;
                    position: absolute;
                    top: 8rem;
                    left: 17rem;
                }
            }
            li{
                padding: 2rem;
                iframe, video{
                    height: 40rem;
                    width: 24rem;
                }
            }
        }
    }
    @media screen and (min-width: 850px) {
        h1{
            text-decoration: underline variables.$oranj 0.8rem;
        }
        .title{
            h1{
                margin: 6rem 0 4rem;
            }
            h3{
                margin: -3rem 5rem 0;
                font-weight: variables.$mobtitleweight;
                padding: 0.2rem 2rem;
                position: relative;
            }
            .cropContainer{
                overflow: hidden;
                height: 25rem;
                img{
                    height: 280rem;
                    margin-top: -130rem;
                    margin-left: -30rem;
                }
            }
        }
        .pics{
            height: 130rem;
            .img1{
                top: 6rem;
                left: 5rem;
                height: 34rem;
            }
            .img2{
                top: 4rem;
                right: 9rem;
                height: 41rem;
            }
            .img3{
                top: 12rem;
                left: 42rem;
                height: 60rem;
            }
            .img4{
                top: 50rem;
                right: 15rem;
                height: 34rem;
            }
            .img5{
                top: 50rem;
                left: 8rem;
                height: 35rem;
            }
            .img6{
                bottom: 20rem;
                right: 45rem;
                height: 32rem;
            }
            .img7{
                bottom: 12rem;
                left: 37rem;
                height: 35rem;
            }
            .img8{
                bottom: 4rem;
                right: 5rem;
                height: 40rem;
            }
            .img9{
                bottom: 5rem;
                left: 4rem;
                height: 31rem;
            }
        }
        .vids{
            padding: 4rem 0;
            .modelQuote{
                position: relative;
                height: 60rem;
                .modelDrawing{
                    position: absolute;
                    height: 60rem;
                    bottom: 0;
                    left: 20%;
                }
                i{
                    width: 35rem;
                    color: variables.$darkblue;
                    position: absolute;
                    top: 8rem;
                    left: 50%;
                }
            }
            li{
                padding: 3.5rem;
                iframe, video{
                    height: 55rem;
                    width: 35rem;
                }
            }
        }
    }
}