//ce fichier est pour les constantes : couleurs, polices
//en modifier une ici les modifie partout où elle sont utilisées
//attention à ne pas changer les noms des variables par contre

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');//pour télécharcher les polices précises

$lavender: #d0c4e8;
$textwhite: #f2f2f2;
$darkblue: #151730;
$oranj: #ef4f0b;
$lilblue: #c8d9ed;

$titlefont: "Fredoka";
$mobtitlesize: 3.5rem;
$mobtitleweight: bold;
$mobsubsize: 2.5rem;
$mobsubweight: medium;
$webtitlesize: 8rem;
$webtitleweight: bold;
$websubsize: 7rem;
$websubsize: medium;

$normfont: "Montserrat";
$mobsize: 1.5rem;
$mobhashsize: 4.5rem;
$mobhashweight: semibold;
$websize: 3rem;
$webweight: medium;
$webhashsize: 12rem;
$webhashweight: semibold;