//ce fichier est pour les constantes : couleurs, polices
//en modifier une ici les modifient partout où elle sont utilisées
//attention à ne pas changer les noms des variables par contre

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
//pour télécharcher les polices précises
//à prendre ici si besoin de plus de style
//https://fonts.google.com/specimen/Fredoka
//https://fonts.google.com/specimen/Montserrat

$lavender: #d0c4e8;
$textwhite: #f2f2f2;
$darkblue: #151730;
$oranj: #ef4f0b;
$lilblue: #c8d9ed;

$titlefont: "Fredoka";
$mobtitlesize: 3.5rem;
$mobtitleweight: 700;
$mobsubsize: 2.5rem;
$mobsubweight: 500;
$webtitlesize: 8rem;
$webtitleweight: 700;
$websubsize: 7rem;
$websubweight: 500;

$normfont: "Montserrat";
$mobsize: 1.5rem;
$mobhashsize: 4.5rem;
$mobhashweight: 600;
$websize: 3rem;
$webweight: 500;
$webhashsize: 12rem;
$webhashweight: 600;